.home__pestañas {
    margin-top: 20px;
    padding: 0px 10vw;
}
ul {
    padding-inline-start: 0px;
}


.home__title {
    font-family: $fontPrincipal;
    font-size: $tamañoTitulo;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}