
//configuraciones globales


//Colores

$colorPrimario: #8F141B; 
$complemento: #dfd4a6; 
$complemento2: #4d626c;
$grisClaro: #f2f2f2; 
$complemento3: #ebe4e4;



//tamaños de fuente

$tamaño1 : 1.2em

