
//configuraciones globales


//Colores

$colorPrimario: #8F141B; 
$complemento: #dfd4a6; 
$complemento2: #4d626c;
$grisClaro: #f2f2f2; 
$complemento3: #ebe4e4;
$sombraRoja: #c4afaf;
$sombraRojaOscura: #a98080;





//tamaños de fuente

$tamaño1      : 1.2em;
$tamañoTitulo : 2.5em;

//Tipografía

$fontPrincipal: 'Roboto', sans-serif;



//tamaños de pantalla

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;